div{
	font-family: 'Inconsolata', monospace;
}

#wpmwrapper{
	text-align:left; 
	margin: 0 auto; 
	width:50%; 
	font-size:30px;
	padding: 10px;
	color: white;
}

#promptwrapper{
	text-align:left; 
	margin: 0 auto; 
	width:50%; 
	overflow:hidden; 
	font-size:30px;
	white-space:nowrap; 
	background: #fff;
	padding: 10px;
	border-radius: 5px;
}

#typeinput{
	font-size:40px;
	font-family:'Roboto';
	padding: 10px;
	border-radius: 5px;;
}