div{
	font-family: monospace, bold;
}

#wpmwrapper{
	text-align:left; 
	margin: 0 auto; 
	width:50%; 
	font-size:30px;
	padding: 10px;
	color: white;
}

#promptwrapper{
	margin: 0 auto; 
	width:50%; 
	overflow:hidden; 
	font-size:30px;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

#buttonwrapper{
	text-align:left; 
	margin: 0 auto; 
	width:50%; 
	font-size:30px;
}

#typeinput{
	width:50%;
	font-size:40px;
	font-family:'Roboto';
	padding: 10px;
	border-radius: 5px;;
}