:root {
	--dark-1: #222;
	--dark-2: #333;
	--dark-3: #444;
	--light-1: #ddd;
	--light-2: #eee;
	--light-3: #fff;
	--white-1: #fff;
	--black-1: #000;
	--red-1: #8b0000;
	--red-2: #a50000;
	--blue-1: #002c6e;
	--blue-2: #0048b5;
	--blue-3: #70a9ff;
	--green-1: #005e1f;
	--green-2: #008a2d;
	--green-3: #41b567;
	--gold: rgb(255, 236, 113);
	--purple: rgb(134, 62, 134);
	--light-green-tint: rgba(179, 255, 179, 0.7);
	--dark-green-tint: rgba(1, 50, 32, 0.7);

	--base-1: var(--dark-1);
	--base-2: var(--dark-2);
	--base-3: var(--dark-3);
	--text: var(--white-1);
	--wrong-word: var(--red-1);
	--completed-word: var(--green-3);
	--current-word: var(--blue-3);
	--complete-bg: var(--dark-green-tint);
	--perfect: var(--gold);
}

.perfect {
	color: var(--perfect);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline-color: var(--base-2);
}

* {
	font-family: "Inconsolata", bold;
}

#title {
	color: var(--text);
	text-align: center;
	font-family:'Nunito';
	font-size:300%;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 24px;
	margin-left: 95px;
}

#mainbody {
	background: var(--base-1);
}

#wpmwrapper{
	text-align:left; 
	margin: 0 auto; 
	font-size:30px;
	width: 800px;
	max-width: 80%; 
	padding: 10px;
	color: var(--text);
}

#promptwrapper{
	margin: 0 auto; 
	width: 800px; 
	max-width: 80%;
	font-size:30px;
	border-radius: 5px;
	text-align: justify;
	background: var(--base-2);
	color: var(--text);
}

#typeinput{
	margin: 0 auto; 
	width: 800px;
	max-width: 85%;
	font-size: 30px;
	border-radius: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	border: var(--base-2);
	background: var(--base-2);
	color: var(--text);
}

#buttonwrapper{
	text-align:left; 
	margin: 0 auto; 
	width: 800px;
	max-width: 80%;
	font-size:30px;
}

#inputwrapper{
	margin: 0 auto;
	width: 800px;
	max-width: 80%;
	font-size:30px;
}

#redobutton {
	font-size: 30px;
	float: right;
	width: 13%;
	max-width: 15%;
}

#menubutton {
	font-size: 30px;
	margin: 20px;
}

button {
    background-color: var(--base-2);
	border-color: var(--base-2);
	border: 0px;
    color: var(--text);
	border-radius: 5px;
    font-size: .7em;
	font-weight: bolder;
	padding: 10px;
}

button:hover {
    background-color: var(--blue-3);
	box-shadow: 3px 3px var(--dark-3);
}

#popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 500px;
	max-width: 22%;
	min-width: 300px;
	height: 600px;
	margin-top: 100px;
	margin-left: 25px;
	background-color: var(--base-3);
	border: 10px var(--base-3);
	border-radius: 10px;
	/* animation: fadein 1s; */
}

table {
	color: var(--text);
	font-size: 1.2em;
	padding-left: 10px;
	padding-right: 10px;
}

@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}

td {
	width: 50%;
	padding: 10px;
}

tr, tbody {
	width: 100%;
}

#github {
	position: fixed;
	bottom: 30px;
	width: 50px;
	left: 50%;
	margin-left:-25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

a:link {
	color: var(--text);
	text-decoration: none;
}

a:visited {
	color: var(--text);
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

input:checked + .slider {
	background-color: var(--blue-3);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}